.text-animate {
  display: inline-block;
  opacity: 0;              
  transform: translateY(20px);
  animation: slideIn 0.6s forwards;
  cursor: default;           
  pointer-events: auto;      
  min-width: 12px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  cursor: default;           
  pointer-events: auto;

  &:hover {
    animation: rubberBand 0.5s; 
    color: rgba(255, 255, 255, 0.6);
  }
}

@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{($i - 1) * 0.05}s; 
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
