.stage-cube-cont {
  position: fixed;
  top: 50%;
  right: 250px;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  overflow: visible;
  z-index: 100;

  @media screen and (max-width: 600px) {
    width: 200px;
    height: 200px;
    right: 20px;
  }
}

.cubespinner {
  animation: spincube 12s ease-in-out infinite;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #f6eddb;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .face1 { transform: translateZ(100px); color: #ec8d75; }
  .face2 { transform: rotateY(90deg) translateZ(100px); color: #bd4b64; }
  .face3 { transform: rotateY(90deg) rotateX(90deg) translateZ(100px); color: #9e2281; }
  .face4 { transform: rotateY(180deg) rotateZ(90deg) translateZ(100px); color: #40265c; }
  .face5 { transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px); color: #244584; }
  .face6 { transform: rotateX(-90deg) translateZ(100px); color: #96e6c2; }
}

@keyframes spincube {
  from, to { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: rotateY(-90deg) rotateZ(90deg); }
  33% { transform: rotateY(-90deg) rotateX(90deg); }
  50% { transform: rotateY(-180deg) rotateZ(90deg); }
  66% { transform: rotateY(-270deg) rotateX(90deg); }
  83% { transform: rotateX(90deg); }
}

.about-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
    max-height: 90%;

    h1 {
      font-size: 60px;
      color: #f6eddb;
      font-weight: 400;
      margin: 0 0 40px 0;
    }

    p {
      font-size: 22px;
      color: #f6eddb;
      font-weight: 200;
      min-width: fit-content;
      opacity: 0;
      animation: fadeInUp 0.6s 0.3s;
      animation-fill-mode: forwards;

      &:nth-of-type(1) { animation-delay: 0.1s; }
      &:nth-of-type(2) { animation-delay: 0.2s; }
      &:nth-of-type(3) { animation-delay: 0.3s; }
    }
  }
}

@keyframes pulse {
  0% { opacity: 0; transform: scale(0.95); }
  50% { opacity: 0.5; transform: scale(1.05); }
  100% { opacity: 1; transform: scale(1); }
}

